* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.homepage
  {
  background-image: url('/assets/mountainsUniverse01.png');
  background-repeat: no-repeat;
  background-size:100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: auto;
  position: absolute;
  text-align: center;
  background-size: cover;
  }

/* .hide {
  display: none;
} */

input {
content: url("/assets/HoverOff.png")
}

input:hover{
  content: url("/assets/HoverOn.png")
}