* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

/* .hide {
  display: none;
} */

input {
content: url("/assets/HoverOff.png")
}

input:hover{
  content: url("/assets/HoverOn.png")
}